<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Psalms Reading</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="psalms">Psalms</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="readings">Readings</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="schedule">Schedule & ICS</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="stats">Stats</NavLink>
                </li>
            </ul>
            <a class="nav-link text-white-50" href="https://learn.microsoft.com/aspnet/core/" target="_blank" rel="noopener noreferrer">
                About
            </a>
        </div>
    </div>
</nav>
